$in-background-color: #22222a;
$in-card-background-color: #44444a;
$in-card-border-color: #aaa;
$in-card-header-color: #33333a;
$in-font-color: #f0f0f0;

$in-font-color-blue: #8888d8;
$in-font-color-green: #66a666;
$in-font-color-red: #d88888;
$in-font-color-red-dark: #b66666;
$in-font-color-yellow: #d8d888;
